/********************************* Spacing *********************************
***********************************************************************************
***********************************************************************************/

$sectionPadding : 50px ;
$sectionMargin : 40px ;

$divPadding : 30px ;
$dviMargin : 25px; 

$elementMargin : 25px;

$textMargin : 15px ;
$linkMargin : 8px ;


