/********************************* Variables *********************************
***********************************************************************************
***********************************************************************************/


$mainColor : #181818 ;
$mainLightColor : #303131 ;
$secondColor : #FCA600 ;
$whiteColor : #FFFFFF;
$linkColor : #C7C3C3 ;
$borderColor : #F2F2F2 ;

$textColor2 : #A2A1A1 ; // Footer
$textColor : #BBBBBB ;
$textColor3 : #989898 ;





$blackFont : "black" ;
$RegularFont : "regular" ;
$boldFont : "bold" ;
$lightFont : "light" ;
$mediumFont : "medium" ;